#all_products {
    padding-top: 2rem;
    display:flex   ;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:center;
    margin:0 auto;
}

/* Styling for .products_wrapper */
#all_products .products_wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Display 4 cards in a row */
    grid-gap: 1.5rem;
    margin-bottom: 2rem;
}

.container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.wrapper {
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: center;
    justify-items: start;
    margin-bottom: 2rem;
}

.product-section_head {
    margin-bottom: 4rem;
    text-align: center;
}

.overflow_hide {
    overflow: hidden;
}

.btn {
    display: flex;
    font-size: 1.2rem;  
    height: 2.5rem;
    justify-content: center;
    align-items: center;
    background-color: #B90000;
    color: #E6E5E4;
    border-radius: 3px;
    transition: background-color 0.2s ease-out;
}

.categories-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;
    border: #E6E5E4 1px solid;
    height: 3rem;
}

.nav-item {
    font-size: 1.2rem;
    font-weight: 700;
    color: #161A1E;
    text-decoration: none;
    transition: color 0.2s ease-out;
    
}

.nav-item .nev-link {
    color: #161A1E;
    text-decoration: none;
}