#product_details {
    padding-top: 4rem;
  }
  
  .prod_details_wrapper {
    display: flex; /* Use Flexbox instead of Grid */
    flex-direction: row;
    justify-content: space-between; /* Space out the children elements */
    align-items: start; /* Align items at the start of the cross axis */
    gap: 2rem; /* Spacing between the image and details */
    max-width: 1200px; /* Adjust the max-width as needed */
    margin: 0 auto; /* Center the content */
}
.prod_details_left_col, .prod_details_right_col {
  flex: 1; /* This will allow both children to take equal space */
}  
  /* .prod_details_left_col {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  } */
  
  .prod_details_tabs {
    display: grid;
    gap: 1rem;
  }
  
  .prod_details_tabs .tabs_item {
    width: 6rem;
    height: 6rem;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 3px;
    padding: 0.5rem;
    cursor: pointer;
    transition: border-color 0.2s;
  }
  
  .prod_details_tabs .tabs_item.active {
    border-color: #eee;
  }
  
  .prod_details_tabs .tabs_item img {
    object-fit: cover;
  
  }
  
  .prod_details_img img {
    object-fit: cover;
  }
  
  .prod_details_right_col .separator {
    margin-top: 2.2rem;
    margin-bottom: 2.2rem;
  }
  
  .prod_details_info {
    margin-top: 0.6rem;
    margin-bottom: 1.2rem;
    /* font-weight: 600; */
  }
  
  .prod_details_ratings {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .prod_details_ratings a {
    opacity: 0.8;
  }
  
  .prod_details_ratings a:hover {
    opacity: 1;
  }
  
  .prod_details_price {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .prod_details_price .price {
    font-size: 2rem;
  }
  
  .prod_details_price .del_price {
    font-size: 1.3rem;
  }
  
  .prod_details_price .saved_price {
    font-weight: 500;
    color: #009B48;
    margin-top: 0.8rem;
    margin-bottom: 0.4rem;
  }
  
  .prod_details_price .tax_txt {
    font-size: 0.9rem;
    color: var(--text-muted);
  }
  
  .prod_details_price .badge {
    background-color: #009B48;
    padding: 0.5rem 0.7rem;
  }
  
  .prod_details_offers h4 {
    font-weight: 300;
  }
  
  .prod_details_offers ul {
    
    display: flex;
    gap: 0.8rem;
    margin-top: 1.5rem;
  }
  
  .prod_details_offers ul li {
    border: 1px solid var(--text-muted);
    background-color: var(--bg-color-2);
    border-radius: 3px;
    font-size: 0.9rem;
    padding: 0.6rem;
  }
  
  .prod_details_buy_btn .btn {
    width: 200px;
  }
  