.search-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: start;
    background-color: rgba(0, 0, 0, 0.65); /* semi-transparent background */
    z-index: 2000; 
    padding-top: 50px; 
}

.search-panel {
    position: relative;
    max-width: 600px; 
    width: 100%;
    background-color: #1C1C1C; /* Dark gray background */
    border-radius: 5px; /* Rounded corners for the panel */
    box-shadow: 0 4px 8px rgba(0,0,0,0.3); /* Add some shadow for depth */
    z-index: 10; 
}
.search-panel form {
    position: relative; 
}

.search-close-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 20px;
    color: #FFFFFF; /* White color for the icon */
}

.search-input {
    width: 100%;
    padding: 10px 15px;
    font-size: 16px; 
    border: none; /* Remove border */
    border-radius: 4px; 
    margin: 0;
    color: #FFFFFF; /* White text color */
    background-color: #161a1e; /* Slightly lighter gray for the input */
}

.btn.search-submit {
    display: none; 
}

.suggestions-list {
    position: absolute;
    top: 100%; 
    left: 0;
    right: 0;
    background-color: #2C2C2C; /* Slightly lighter gray for suggestions */
    color: #FFFFFF; /* White text color for suggestions */
    border: none; /* Remove border for suggestions */
    list-style: none;
    padding: 0;
    margin: 0;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5); /* Stronger shadow for depth */
    z-index: 1000; 
    border-radius: 0 0 5px 5px; /* Rounded corners for the bottom of suggestions */
}

.suggestions-list li {
    padding: 10px 15px;
    cursor: pointer;
    border-bottom: 1px solid #3D3D3D; /* Darker line for separation */
}

.suggestions-list li:last-child {
    border-bottom: none; 
}

.suggestions-list li:hover {
    background-color: #3D3D3D; /* Darker gray for hover */
}
