.search-panel {
    display: flex;
    max-width: 410px; 
    margin: 20px; 
}

.search-panel form {
    display: flex;
    width: 100%;
    align-items: center; 
}

.search-panel input {
    font-size: 14px;
    padding: 10px 15px; /* Adjust padding as needed */
    border: 2px solid #000; /* Solid border */
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2); /* Subtle shadow for 3D effect */
    border-radius: 4px; /* Rounded corners */
    outline: none; /* Remove the default focus outline */
    transition: border-color 0.3s, box-shadow 0.3s; /* Smooth transition for focus */
    width: 100%; /* Full width */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.search-panel input:focus {
    border-color: #505050; /* Darker border on focus */

}

.search-submit {
    height: 48px;
    background-color: #333;
    border: 1px solid #333; /* Match border width with input to ensure alignment */
    border-radius: 0 4px 4px 0;
    color: #fff; 
    padding: 10px 20px;
    font-size: 16px; 
    text-transform: uppercase;
    line-height: 48px; 
    white-space: nowrap;
    margin-left: 5px;
}

.search-panel input, 
.search-panel .search-submit {
    margin: 5px; 
}

.search-panel input, 
.search-panel .search-submit {
    box-sizing: border-box; /* Include padding and borders in the width calculation */
    line-height: normal;
}



.suggestions-list {
    position: absolute;
    /* background-color: #fff;
    border: 1px solid #ddd; */
    border-top: none;
    list-style: none;
    padding: 0;
    margin-top: 50px;
    width: 60%; /* Adjust based on parent padding */
    box-sizing: border-box;
    z-index: 1000; /* Ensure it's above other content */
    color: #161a1e
}

.suggestions-list li {
    padding: 10px 15px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
}

.suggestions-list li:hover {
    background-color: #f2f2f2;
}
