.scroll-to-top {
    position: fixed; 
    bottom: 20px; 
    right: 20px; 
    background-color: gray; 
    color: white;
    border: none;
    border-radius: 3px;
    padding: 10px 15px;
    cursor: pointer;
    opacity: 0.6;
    font-size: 1.5rem;
    z-index: 99;
}

.scroll-to-top:hover {
    opacity: 1; 
}
